# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending and utf-8 every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

# Set default charset and 4 space indentation
[*.{java,yml,md}]
indent_style = space
indent_size = 4
